.about-page {
  width: 100%;
  height: 100%;
}

.about-container {
  width: 100%;
  height: 87%;
  max-height: 610px;
  overflow-x: auto;
  padding: 0px 30px;
}

.sections {
  width: 100%;
  height: 550px;
}

.skills-container {
  width: 100%;
  height: 100%;
}

.education-container {
  width: 100%;
  padding: 50px;
  position: relative;
}

.profile-container {
  width: 100%;
  height: 100%;
} 